.logo {
    cursor: pointer;
}

.container {

    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 24px;


}


.containerLight::after {
    content: '';
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);

    background-color: rgba(79, 79, 79);

    transition: all 300ms ease-in-out;

    opacity: 0;

}

.containerDark::after {
    height: calc(100% - 100px);
    opacity: 0.4;

}

.layoutContainer {


    max-width: 1250px;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}



.header {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

}

.footer {

    text-align: center;
    font-size: 0.875rem;
    color: var(--text-color-secondary);
    margin-bottom: 24px;
}

.footer a {
    font-weight: 700;
    text-decoration: underline;
}

@media (max-width:560px) {
    .container {

        padding: 0 12px;


    }

    .header {
        margin-top: 24px;
        display: flex;
        flex-direction: column;


        position: relative;

    }

    .logo {
        align-self: flex-start;
        cursor: pointer;
        padding-left: 4px;
        margin-bottom: 40px;
    }

    .containerLight::after {

        top: 150px;


    }
}